body{
    background-color: rgb(1, 47, 74);
    color: white;
}

.cards{
    border-radius: 10px;
    height: 20rem;
    width: auto;
    background: linear-gradient(to left, rgba(2, 30, 48, 0), rgb(24, 23, 23));
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px;
    margin: 0 12rem;
    margin-bottom: 12rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    box-shadow: rgba(6, 1, 1, 0.514) 0px 54px 55px, rgba(201, 187, 187, 0.514) 0px -12px 30px, rgb(92, 1, 1, 0.514) 0px 4px 6px, rgba(91, 1, 1, 0.514) 0px 12px 13px;
}

.for-text{
    display: flex;
    /* justify-content: flex-end; */
    gap: 5rem;
    /* text-align: center; */
    padding-top: 2rem;
}